/**
* @file
* @author jinguangguo
* @date 2018/7/25 下午2:10
*/

.module-index {
    color: orange;
    font-size: 12px;
    width: 1280px;
    height: 720px;
    background: url('/img/index-map.png') center center no-repeat;
}