/**
 * @file
 * @auth jinguangguo
 * @date 2016/10/17
 */

$color-font: #333;
$color-font-dark: #303030;
$color-font-light: #9b9d9e;
$color-font-gray: #bbbbbb;

$color-primary: #4eaeba;
$color-primary-hover: #5bcad8;

$color-border: #efefef;